*
{
    font-family: 'Kanit', sans-serif;
}

h1
{
    text-align: center;
}

.navbar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    font-family: 'Arial', sans-serif;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-logo
{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links
{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    margin-right: 60px;
}

.navbar-links li a
{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar-links li a:hover
{
    color: #ff7096; 
}

.header-container
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}