*
{
    font-family: 'Kanit', sans-serif;
}

body
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/6709650573_LibraryMembershipApplicationForm/resources/flyingbook.gif);
    background-size: 110vh;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f5f5;
    min-height: 100vh;
    padding: 50px;
}

h1
{
    text-align: center;
}

.navbar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    font-family: 'Arial', sans-serif;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-logo
{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links
{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    margin-right: 60px;
}

.navbar-links li a
{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar-links li a:hover
{
    color: #ff7096; 
}

.header-container
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-header
{
    font-size: 2rem; 
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #333;
    padding: 5px 15px;
    position: relative;
}

.form-header::after
{
    content: '';
    display: block;
    width: 60%; 
    height: 2px;
    background-color: #ff7096; 
    margin: 8px auto 0;
    border-radius: 2px;
}

form
{
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label
{
    margin-top: 10px;
    display: block;
    color: #555;
    font-weight: bold;
    font-size: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.required
{
    color: red;
}

input[type="text"],
input[type="email"],
input[type="date"],
select,
button[type="submit"]
{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}